.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8em;
}

.logo {
  width: 40em;
  height: auto; 
  margin-right: 10px; 
}

.brand-logo {
  width: 480px;
    height: 460px;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: -195px;
  margin-bottom: -265px;
}


.white-chain-image {
  width: 395px;
  height: auto;
}

/* Phone */

@media (max-width: 480px) {
  .logo {
    width: 100%;
  }

  .brand-logo {
    width: 100%;
    height: auto;
    bottom: 0;
    margin-bottom: 10px;
    transform: translateX(0);
    position: static;
  }

  .image-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .white-chain-image {
    width: 100%;
    height: auto;
  }

   /*Laptop/Desktop */

  @media (min-width: 1025px) {
    .logo-container {
      height: 10em;
    }
  
    .logo {
      width: 20em;
    }
  }
  .white-chain-image {
    width: 50%;
    height: auto;
  }
}


